---
---
<div class="row">
        <div id="{{entry.key}}" class="col-sm-12">
        <div class="title">{{entry.title}}</div>
        <div class="author">
        {% assign author_array_size = entry.author_array | size %}

        {% assign author_array_limit = author_array_size %}
        {%- if site.max_author_limit and author_array_size > site.max_author_limit %}
          {% assign author_array_limit = site.max_author_limit %}
        {% endif %}

        {%- for author in entry.author_array limit: author_array_limit -%}
          {%- assign author_is_self = false -%}
          {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
          {%- if site.scholar.last_name contains author_last_name -%}
            {%- if site.scholar.first_name contains author.first -%}
              {%- assign author_is_self = true -%}
            {%- endif -%}
          {%- endif -%}
          {%- assign coauthor_url = nil -%}
          {%- if site.data.coauthors[author_last_name] -%}
            {%- for coauthor in site.data.coauthors[author_last_name] -%}
              {%- if coauthor.firstname contains author.first -%}
                {%- assign coauthor_url = coauthor.url -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}

          {%- if forloop.length > 1 -%}
            {%- if forloop.first == false -%},&nbsp;{%- endif -%}
            {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
          {%- endif -%}
          {%- if author_is_self -%}
            <em>{{author.first}} {{author.last}}</em>
          {%- else -%}
            {%- if coauthor_url -%}
              <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
            {%- else -%}
              {{author.first}} {{author.last}}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        {%- assign more_authors = author_array_size | minus: author_array_limit -%}

        {%- assign more_authors_hide = more_authors | append: " more author" -%}
        {%- if more_authors > 0 -%}
          {%- if more_authors > 1 -%}
            {%- assign more_authors_hide = more_authors_hide | append: "s" -%}
          {%- endif -%}
          {%- assign more_authors_show = '' -%}
          {%- for author in entry.author_array offset: author_array_limit -%}
            {%- assign more_authors_show = more_authors_show | append: author.first | append: " " | append: author.last -%}
            {%- unless forloop.last -%}
              {%- assign more_authors_show = more_authors_show | append: ", " -%}
            {%- endunless -%}
          {%- endfor -%}
          , and
          <span
              class="more-authors"
              title="click to view {{more_authors_hide}}"
              onclick="
                var element = $(this);
                element.attr('title', '');
                var more_authors_text = element.text() == '{{more_authors_hide}}' ? '{{more_authors_show}}' : '{{more_authors_hide}}';
                var cursorPosition = 0;
                var textAdder = setInterval(function(){
                  element.text(more_authors_text.substring(0, cursorPosition + 1));
                  if (++cursorPosition == more_authors_text.length){
                    clearInterval(textAdder);
                  }
              }, '{{site.more_authors_animation_delay}}');
              "
          >{{more_authors_hide}}</span>
        {%- endif -%}

        </div>

        {% assign proceedings = "inproceedings,incollection" | split: ','%}
        {% assign thesis = "thesis,mastersthesis,phdthesis" | split: ','%}
        {% if entry.status -%}
          {%- capture entrytype -%}<em class="bib-status">{{entry.status}}</em>{%- endcapture -%}
        {%- elsif entry.type == "article" -%}
          {%- capture entrytype -%}<em>{{entry.journal}}</em>{%- endcapture -%}
        {%- elsif proceedings contains entry.type -%}
          {%- capture entrytype -%}<em>In {{entry.booktitle}}</em> {%- endcapture -%}
        {%- elsif thesis contains entry.type -%}
          {%- capture entrytype -%}<em>{{entry.school}}</em> {%- endcapture -%}
        {%- else -%}
          {%- capture entrytype -%}{%- endcapture -%}
        {%- endif -%}
        
        {%- if entry.month -%}
          {%- capture entrymonth -%}
            {{ " " }}
            {%- if entry.month == "12" or entry.month == "dec" -%}December
            {%- elsif entry.month == "11" or entry.month == "nov" -%}November
            {%- elsif entry.month == "10" or entry.month == "oct" -%}October
            {%- elsif entry.month == "9" or entry.month == "sep" -%}September
            {%- elsif entry.month == "8" or entry.month == "aug" -%}August
            {%- elsif entry.month == "7" or entry.month == "jul" -%}July
            {%- elsif entry.month == "6" or entry.month == "jun" -%}June
            {%- elsif entry.month == "5" or entry.month == "may" -%}May
            {%- elsif entry.month == "4" or entry.month == "apr" -%}April
            {%- elsif entry.month == "3" or entry.month == "mar" -%}March
            {%- elsif entry.month == "2" or entry.month == "feb" -%}February
            {%- elsif entry.month == "1" or entry.month == "jan" -%}January
            {%- else -%}{{ entry.month | capitalize }}
            {%- endif -%}
          {%- endcapture -%}
        {%- endif -%}

        {%- if entry.year -%}
          {%- capture entryyear -%}{{ " " }}{{entry.year}}{%- endcapture -%}
        {%- endif -%}
        {% assign entrytype_text = entrytype | strip_html | strip %}
        {%- capture periodical -%}{{ entrytype }}{%- if entrytype_text != "" and entryyear != "" -%}, {%- endif -%}{{ entrymonth }}{{ entryyear }}{%- endcapture -%}
        
        <div class="periodical">
            {{ periodical | strip }}
            {% if entry.note %}<br><span style="font-size: 0.95em; opacity: 0.85;">{{ entry.note }}</span>{% endif %}
            {% if entry.note2 %}<br><span style="font-size: 0.95em; opacity: 0.85;">{{ entry.note2 }}</span>{% endif %}
        </div>
        
          <div class="links">
            {%- if entry.abstract %}
                <a class="abstract btn btn-sm z-depth-0" role="button">Abstract</a>
            {%- endif %}
            {%- if entry.descr %}
                <a class="abstract btn btn-sm z-depth-0" role="button">Description</a>
            {%- endif %}

            {%- if entry.html %}
                <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button">HTML</a>
            {%- endif %}

            {%- if entry.nber %}
                <a href="{{ entry.nber }}" class="btn btn-sm z-depth-0" role="button">NBER WP</a>
            {%- endif %}

            {%- if entry.ssrn %}
                <a href="{{ entry.ssrn }}" class="btn btn-sm z-depth-0" role="button">ACCESS AT SSRN</a>
            {%- elsif entry.html contains 'ssrn.com' %}
                <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button">ACCESS AT SSRN</a>
            {%- endif %}
            {%- if entry.arxiv %}
                <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">ACCESS AT ARXIV</a>
            {%- endif %}

            {%- if entry.pdf %}
                {% if entry.pdf contains '://' -%}
                <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button">OPEN PDF</a>
                {%- else -%}
                <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">OPEN PDF</a>
                {%- endif %}
            {%- endif %}
            
            {%- if entry.website %}
                <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button">Website</a>
            {%- endif %}
            {%- if entry.voxeu %}
                <a href="{{ entry.voxeu }}" class="btn btn-sm z-depth-0" role="button">VoxEU article</a>
            {%- endif %}

            {%- if entry.bibtex_show %}
                <a class="bibtex btn btn-sm z-depth-0" role="button">BIB ENTRY</a>
            {%- endif %}
            </div>

          {% if site.badges %}
          <div class="badges">
            {%- if site.badges.altmetric_badge %}
            <span class="altmetric-embed" data-hide-no-mentions="true" data-badge-type="2" data-badge-popover="right"
              {% if entry.eprint %}
                data-arxiv-id="{{ entry.eprint }}"
              {% elsif entry.doi %}
                data-doi="{{ entry.doi }}"
              {% elsif entry.altmetric %}
                data-altmetric-id="{{ entry.altmetric }}"
              {% elsif entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% elsif entry.isbn %}
                data-isbn="{{ entry.isbn }}"
              {% endif %}
              ></span>
            {%- endif %}
            {%- if site.badges.dimensions_badge %}
              <span class="__dimensions_badge_embed__"
              {% if entry.doi %}
                data-doi="{{ entry.doi }}"
              {% else if entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% else %}
                data-id="{{ entry.dimensions }}"
              {% endif %}
              data-hide-zero-citations="true" data-style="small_rectangle" data-legend="hover-right" style="margin-bottom: 3px;"></span>
            {%- endif %}
          </div>
          {%- endif %}

          {% if entry.abstract -%}
          <div class="abstract hidden">
            <p>{{ entry.abstract }}</p>
          </div>
          {%- endif -%}

          {% if entry.descr -%}
          <div class="abstract hidden">
            <p>{{ entry.descr }}</p>
          </div>
          {%- endif -%}

          {% if entry.bibtex_show -%}
          <div class="bibtex hidden">
            {% highlight bibtex %}{{ entry.bibtex | hideCustomBibtex }}{% endhighlight %}
          </div>
          {%- endif %}
        </div>
        </div>